@font-face {
    font-family: 'CustomFont';
    src: url('Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

/* Reset some default styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
    font-family: CustomFont;
}

/* Container for the header */
.header {
    /* Gradient background */
    background: #fef5da;
    background: linear-gradient(to right, #fef5da 15%, #584bad 70%);
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: center; /* Align items vertically in the flex container */
}

#logo {
    max-width: 120px;
    max-height: 120px;
    margin-right: 200px; /* Add margin to separate logo from form */
    padding-left: 10px;
}

#searchForm {
    flex: 1; /* Take up remaining space in the flex container */
}

#txt-container {
    display: flex;
    border: 2px solid #584bad; /* Set border color */
    border-radius: 15px; /* Rounded corners */
}

#category,
#searchText,
#searchButton {
    height: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 15px; /* Rounded corners */
    border: 0;
}

/* Adjustments to input elements */
#category {
    width: calc(15% - 1px); /* Adjust width to leave space for the separator line */
    padding: 0 10px; /* Add some padding for better appearance */
    border-top-right-radius: 0; /* Remove top-right border radius to connect to searchText */
    border-bottom-right-radius: 0; /* Remove bottom-right border radius to connect to searchText */
    border-right: 2px solid #584bad; /* Set border color */
}

#searchText {
    width: calc(50% - 1px); /* Adjust width to leave space for the separator line */
    padding: 0 10px; /* Add some padding for better appearance */
    border-top-left-radius: 0; /* Remove top-left border radius to connect to category */
    border-bottom-left-radius: 0; /* Remove bottom-left border radius to connect to category */    
    border-top-right-radius: 15px; /* Remove top-right border radius to connect to searchText */
    border-bottom-right-radius: 15px; /* Remove bottom-right border radius to connect to searchText */
}

#searchButton {
    margin-left: 10px;
    width: 10%;
    border: none; /* Remove border */
    background-color: #fff; /* Match background color to maintain appearance */
    padding: 0; /* Reset padding */
}

#searchButton:active {
    background-color: #453a8e;
    color: white;
}

/* The .demo-notice class styles the demonstration notice header */
.demo-notice {
    background-color: #ffd700; 
    color: #000; 
    text-align: center;
    padding: 20px 0; 
    font-weight: bold; 
    font-size: 1.2em; 
    border-bottom: 3px solid #000;
}

/* Navigation bar */
.navbar {
    background-color: #FFC436; /* Yellow */
    padding: 10px;
    padding-left: 40px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #6a5acd; /* Purplish blue */
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -20px; /* Adjust this value as needed */
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navblock,
#loginButton {
    display: inline-block;
}

#loginButton a {
    text-decoration: none;
    color: #6a5acd; /* Purplish blue */
}

#navblock{
    width: 70%;
}

#loginButton {
    text-align: right;
    float: right;
}

#loginButton a {
    margin: 0 10px 0 10px;
}

.productIMG {
    max-width: 300px;
    max-height: 300px;
}

/* Main content area */
.main-content {
    max-width: 750px;
    margin: 0 auto 560px;
    padding: 0 20px;
}

.filters {
    float: left;
    width: 150px;
    border: 2px solid #584bad;
    margin: 5px;
    padding: 5px;
}

#price-r, 
#name-s,
#price-a {
    border-radius: 10px;
    border: 2px ridge #584bad;
    margin: 5px 5px 40px 5px;
}

.item-container {
    border-top: 2px ridge #584bad; /* Set border color */
    border-bottom: 2px ridge #584bad; /* Set border color */
    padding: 10px;
    margin-top: 10px;
    background: #aca2f3;
    float: right;
    width: 550px;
}

.item-name {
    border: 2px ridge #584bad; /* Set border color */
    padding-left: 5px;
}

.listing-container {
    border-top: 2px ridge #584bad; /* Set border color */
    border-bottom: 2px ridge #584bad; /* Set border color */
    padding: 10px;
    margin-top: 10px;
    background: #aca2f3;
    width: 750px;
}

.listing-name {
    border: 2px ridge #584bad; /* Set border color */
    padding-left: 5px;
}

#listing-details {
    border-bottom: 2px ridge #584bad; /* Set border color */\
    background: #aca2f3;
    padding: 10px;
}

#toMessages, #toListings {
    display: inline-block;
    float: left;
    background: #aca2f3;
    border: 2px ridge #584bad; /* Set border color */
    margin: 0 5px 5px 5px;
    font-family: CustomFont;
    height: 30px;
    width: 120px;
    font-size: 20px;
}

#toMessages a, #toListings a{
    text-decoration: none;
}

#toMessages:active, #toListings:active {
    background: #584bad;
    color: white;
}

#toMessages a:active, #toListings a:active {
    background: #584bad;
    color: white;
}

#listing-num {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    width: 50%;
}

#sortbox {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    right: 0;
}

#sortbox select {
    background: #aca2f3;
    border: 2px ridge #584bad; /* Set border color */
}

.image {
    max-width: 300px;
    max-height: 300px;
}

#GTS#searchButton {
    width: 55%;
}

#FHTT {
    color: black;
}

/* Adjust the dropdown button position */
#dropdownBtn {
    display: none; /* Hide the button by default */
}

#searchForm2 {
    display: none;
}

.recent-items {
    border-top: 2px ridge #584bad; /* Set border color */
    border-bottom: 2px ridge #584bad; /* Set border color */
    padding: 0 10px 10px 10px;
    background: #aca2f3;
    width: 150px;
    height: 180px;
    float: left;
    margin: 0 1% 0 1%;
}

.recent-item-name {
    padding: 5px;
    font-size: 18px;
    border-bottom: 2px ridge #584bad; /* Set border color */
}

.recents {
    max-width: 120px;
    max-height: 120px;
    margin: 12.5px;
}

.contact {
    float: right;
    background: #aca2f3;
    border: 2px ridge #584bad; /* Set border color */
    width: 25%;
    font-family: CustomFont;
}

.contact:active {
    background: #584bad;
    color: white;
}

#footer {
    bottom: 0;
    width: 100%;
    background-color: #FFC436;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    /* Hide the original navbar */
    .navbar, #logo, #searchForm {
        display: none;
    }

    .recent-items {
        float: none;
        margin: 10px 0 10px 0;
    }

    .mobile {
        height: 55px;
        background: grey;
    }
    
    #searchForm2 {
        display: block;
	float: left;
        width: auto;
        padding: 10px 5% 10px 5%;
        /* Gradient background */
        background: grey;
	height: 35px;
    }
    
    .main-content {
	padding-top: 10px;
    }

    #category,
    #searchText,
    #searchButton {
	width: auto;
    }

    /* Show the dropdown button */
    #dropdownBtn {
        display: block;
        float: right;
	width: 20%;
	height: 55px;
        background-color: #FFC436; /* Yellow */
	font-size: 32px;
	border: none;
    }

    #dropdownBtn:active {
        background-color: #bf8e1c;
        color: white;
    }

    /* Adjust the dropdown content width */
    #dropdownContent {
	float: right;
        position: relative;
        display: none;
        background-color: #FFC436; /* Yellow */
        left: 0;
    }
    .dropdown-content{
        background-color: #FFC436; /* Yellow */
	left: 0;
    }
    #dropdownContent.show {
	display: inline-block;
    }
    ul {
	list-style: none;
    }
}

@media (max-width: 635px) {
    /* Hide the original navbar */
    .navbar, #logo, #searchForm {
        display: none;
    }

    /* Style the navbar */
    #navblock {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Style the navbar links */
    #navblock li {
        text-align: center;
        padding: 10px;
    }

    #navblock li a {
        text-decoration: none;
        color: #6a5acd; /* Purplish blue */
        display: block;
    }

    /* Submenu styles */
    #navblock .dropdown-content {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #navblock .dropdown-content a {
        padding: 12px 12px;
        text-decoration: none;
        display: block;
    }

    #navblock .dropdown:hover .dropdown-content {
        display: block;
    }

    .mobile {
        height: 55px;
        background: grey;
    }
    
    #searchForm2 {
        display: block;
	float: left;
        width: auto;
        padding: 10px 5% 10px 5%;
        /* Gradient background */
        background: grey;
	height: 35px;
    }
    
    .main-content {
	padding-top: 10px;
    }

    #category,
    #searchText,
    #searchButton {
	width: auto;
    }

    /* Show the dropdown button */
    #dropdownBtn {
        display: block;
        float: right;
	width: 10%;
	height: 55px;
        background-color: #FFC436; /* Yellow */
	font-size: 32px;
	border: none;
    }

    #dropdownBtn:active {
	background-color: #bf8e1c;
        color: white;
    }

    /* Adjust the dropdown content width */
    #dropdownContent {
	float: right;
        position: relative;
        display: none;
        background-color: #FFC436; /* Yellow */
        left: 0;
    }
    #dropdownContent #navblock {
	text-decoration: none;
    }
    .dropdown-content{
        background-color: #FFC436; /* Yellow */
	left: 0;
    }
    #dropdownContent.show {
	display: inline-block;
    }
    ul {
	list-style: none;
        text-align: center;
    }
    #loginButton {
	text-align: center;
    }
}
@media (max-width: 560px) {
    #searchForm2 {
	width: 100%;
    }
    #dropdownBtn {
	width: 100%;
    }
    #dropdownContent {
	width: 100%;
        position: relative;
        display: none;
        background-color: #FFC436; /* Yellow */
        left: 0;
    }
    #navblock {
	width: 100%;
    }
}
