.header {
/* Gradient background */
background: #fef5da;
background: #584bad;
color: #fff;
padding: 5px;
display: flex;
align-items: center; /* Align items vertically in the flex container */
}

.demo-notice {
background-color: #ffd700; 
color: #000; 
text-align: center;
padding: 20px 0; 
font-weight: bold; 
font-size: 1.2em; 
border-bottom: 3px solid #000;
}   

.alert {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
padding: .75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem;
}
		      
.signup-form {
margin-bottom: 20px;
}
		      
.form-box2 {
font-size: 15px;	
width: 100%;
padding: 10px;
border: 1px solid #584bad; 
border-radius: 5px;
margin-bottom: 15px;
}
		
.form-label {
background: #ffd700;
border: 10px solid #ffd700; 
border-radius: 5px;
}
		
.form-button-container {
text-align: center;
}
		
.submit-button {
background: #ffd700;
}
		      
.login-link {
margin-top: 20px;
}