/* Styles for the notice */
.demo-notice {
  background-color: #ffd700;
  font-size: 20px;
  text-align: center;
  height: 60px;
  padding: 15px;
  border-width: 2px;
  border-style: solid;
}

.card-header {
  display: flex;
  align-items: center; /* This ensures vertical centering */
  justify-content: space-between; /* This will push the logo to the left and text to the center */
  margin-top: -10px;
  border: 2px solid var(--bs-emphasis-color);
  border-bottom: none;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #fef5da 15%, #584bad 70%);
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  width: 100px; /* Keep your logo dimensions */
  
}

.title-text {
  /* This will center the title text in the available space, assuming .title-text wraps the text */
  flex: 1;
  text-align: center;
}

/* Navigation Tabs */
.nav-container {
  border: 2px solid var(--bs-emphasis-color);
  padding: 8px;
  background: #FFC436;
}

.btn-nav {
  font-weight: bold;
  color: black;
  border: 2px solid black;
  margin-left: 10px;
}

.btn-nav:hover {
  background-color: #6a5acd;
  color: white; /* Optional: change text color on hover */
}

.btn-nav:first-child {
  margin-left: 0;
}

/* This class is for the last button to separate it from the others */
.btn-Login {
  margin-left: auto; /* This will push the login button to the right if the nav-container is flex */
}

/* Main Content Area Styling */
.main-content {
  padding: 100px;
  margin: auto;
  margin-top: 50px;
  background: #ffd700;
  border-radius: 10px;
  width: 1100px;
  border: 2px solid var(--bs-emphasis-color);
  height: 150px;
}

/* Dashboard Heading */
.dashboard-heading {
  color: var(--bs-emphasis-color);
  font-size: 35px;
  font-weight: bold;
  margin-left: -80px;
  margin-top: -80px;
}


/* Message Notification Paragraph */
.message-notification {
  color: var(--bs-emphasis-color);
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-top: -60px;
}

.btn-outline-primary, .btn-outline-secondary {
  border: 2px solid var(--bs-emphasis-color);
  color: var(--bs-emphasis-color);
  font-weight: bold;

}

.btn-outline-primary {
  margin-top: 40px;
  margin-left: -80px;
  margin-right: 20px; /* Add space to the right of the button */
}

/* Adjust the margin for the 'Listings' button, if necessary */
.btn-outline-secondary {
  margin-top: -25px;
  margin-left: 40px; /* Add space to the left of the button */
}

.btn-outline-primary:hover, .btn-outline-secondary:hover {
  background-color: #6a5acd;
}
