@font-face {
font-family: 'CustomFont';
src: url('Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

/* General Styles for Notices and Headers */
.demo-notice {
    color: var(--bs-emphasis-color);
    border: 2px solid var(--bs-emphasis-color);
    background: #ffd700;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
  }
  
  .card-header {
    display: flex;
    align-items: center; /* This ensures vertical centering */
    justify-content: space-between; /* This will push the logo to the left and text to the center */
    margin-top: -10px;
    border: 2px solid var(--bs-emphasis-color);
    border-bottom: none;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, #fef5da 15%, #584bad 70%);
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .logo {
    width: 100px; /* Keep your logo dimensions */
    
  }
  
  .title-text {
    /* This will center the title text in the available space, assuming .title-text wraps the text */
    flex: 1;
    text-align: center;
    color: black;
  }
  
  /* Navigation Tabs */
  .nav-container {
    border: 2px solid var(--bs-emphasis-color);
    padding: 8px;
    background: #FFC436;
  }
  
  .btn-nav {
    font-weight: bold;
    color: black;
    border: 2px solid black;
    margin-left: 10px;
  }
  
  .btn-nav:hover {
    background-color: #6a5acd;
    color: white; /* Optional: change text color on hover */
  }
  
  .btn-nav:first-child {
    margin-left: 0;
  }
  
  /* This class is for the last button to separate it from the others */
  .btn-Login {
    margin-left: auto; /* This will push the login button to the right if the nav-container is flex */
  }
      
.alert {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
padding: .75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem;
}
      
.bs-icon {
--bs-icon-size: .75rem;
display: flex;
flex-shrink: 0;
justify-content: center;
align-items: center;
font-size: var(--bs-icon-size);
width: calc(var(--bs-icon-size) * 2);
height: calc(var(--bs-icon-size) * 2);
color: var(--bs-primary);
}
      
.bs-icon-xs {
--bs-icon-size: 1rem;
width: calc(var(--bs-icon-size) * 1.5);
height: calc(var(--bs-icon-size) * 1.5);
}
      
.bs-icon-sm {
--bs-icon-size: 1rem;
}
      
.bs-icon-md {
--bs-icon-size: 1.5rem;
}
      
.bs-icon-lg {
--bs-icon-size: 2rem;
}
      
.bs-icon-xl {
--bs-icon-size: 2.5rem;
}
      
.bs-icon.bs-icon-primary {
color: var(--bs-white);
background: #ffd700;
}
      
.bs-icon.bs-icon-primary-light {
color: var(--bs-primary);
background: rgba(var(--bs-primary-rgb), .2);
}
      
.bs-icon.bs-icon-semi-white {
color: var(--bs-primary);
background: rgba(255, 255, 255, .5);
}
      
.bs-icon.bs-icon-rounded {
border-radius: .5rem;
}
      
.bs-icon.bs-icon-circle {
border-radius: 50%;
}
      
h2 {
margin-bottom: -30px;
}

.form-control {
border-color: #6a5acd;
}
      
.form-check-label {
margin-bottom: 5px;
}

.dropdown {
margin-top: 10px;
margin-bottom: 10px;
}

.dropdown-toggle {
background-color: white;
color: black;
border-color: #6a5acd;
}

.dropdown-item:hover{
    background-color: #6a5acd;
    font-weight: bold;
}

.dropdown-toggle:hover {
background-color: #6a5acd;
}
	     
.btn-one {
background-color:white;
color: black;
border-color: #6a5acd;
}

.btn-one:hover{
    background-color: red;
}

.btn-two {
background-color: white;
color: black;
border-color: #6a5acd;
}

.btn-two:hover{
    background-color: green;
}
      
p {
margin-bottom: -7px;
}

.text-muted {
font-style: italic;
}
      
.footer {
margin-top: 65px;
}
      
input {
margin-top: 15px;
margin-bottom: 15px;
}

.card {
border-color: #6a5acd;
}
