@font-face {
font-family: 'CustomFont';
src: url('Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
} 

/* General Styles for Notices and Headers */
.demo-notice {
  color: var(--bs-emphasis-color);
  border: 2px solid var(--bs-emphasis-color);
  background: #ffd700;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}

.card-header {
  display: flex;
  align-items: center; /* This ensures vertical centering */
  justify-content: space-between; /* This will push the logo to the left and text to the center */
  margin-top: -10px;
  border: 2px solid var(--bs-emphasis-color);
  border-bottom: none;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #fef5da 15%, #584bad 70%);
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  width: 100px; /* Keep your logo dimensions */
}

.title-text {
  /* This will center the title text in the available space, assuming .title-text wraps the text */
  flex: 1;
  text-align: center;
  color: black;
}

/*Search Bar */
#searchForm {
  border-left: 2px solid var(--bs-emphasis-color);
  border-right: 2px solid var(--bs-emphasis-color);
  background: linear-gradient(to right, #fef5da 15%, #584bad 70%);
  padding: 20px;

}

#category,
#searchText,
.searchButton {
    height: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 15px; /* Rounded corners */
    border: 0;
}

/* Adjustments to input elements */
#category {
    width: calc(15% - 1px); /* Adjust width to leave space for the separator line */
    padding: 0 10px; /* Add some padding for better appearance */
    border-top-right-radius: 0; /* Remove top-right border radius to connect to searchText */
    border-bottom-right-radius: 0; /* Remove bottom-right border radius to connect to searchText */
    border-right: 2px solid #584bad; /* Set border color */
}

#searchText {
    width: calc(50% - 1px); /* Adjust width to leave space for the separator line */
    padding: 0 10px; /* Add some padding for better appearance */
    border-top-left-radius: 0; /* Remove top-left border radius to connect to category */
    border-bottom-left-radius: 0; /* Remove bottom-left border radius to connect to category */    
    border-top-right-radius: 15px; /* Remove top-right border radius to connect to searchText */
    border-bottom-right-radius: 15px; /* Remove bottom-right border radius to connect to searchText */
    margin-top: 0px;
}

.searchButton {
    margin-left: 10px;
    width: 10%;
    border: none; /* Remove border */
    background-color:#fff; /* Match background color to maintain appearance */
    padding: 0; /* Reset padding */   
    border: 2px solid #584bad; /* Set border color */
    border-radius: 15px; /* Rounded corners */
    margin-top: 0px;
    
}

.searchButton:active {
    background-color: #453a8e;
    color: white;
}

#txt-container {
  display: flex;
  padding-top: 0px;
  margin-top: -30px;
  height: 34px;
  margin-left: 400px;
  border-radius: 15px; /* Rounded corners */
  border-left: 2px solid #584bad; /* Set border color */
  border-top: 2px solid #584bad; /* Set border color */
  border-bottom: 2px solid #584bad; /* Set border color */
}

  /* Navigation Tabs */
  .nav-container {
    border: 2px solid var(--bs-emphasis-color);
    padding: 8px;
    background: #FFC436;
  }
  
  .btn-nav {
    font-weight: bold;
    color: black;
    border: 2px solid black;
    margin-left: 10px;
  }
  
  .btn-nav:hover {
    background-color: #6a5acd;
    color: white; /* Optional: change text color on hover */
  }
  
  .btn-nav:first-child {
    margin-left: 0;
  }
  
  /* This class is for the last button to separate it from the others */
  .btn-Login {
    margin-left: auto; /* This will push the login button to the right if the nav-container is flex */
  }

  .btn-about{
    background-color: #ffd700;
  }

  /* About dropdown menu*/
  #aboutDropdown .dropdown-item:hover{
  background-color: #6a5acd;
  font-weight: bold;
  color: #FFC436;
}

  #aboutDropdown .dropdown-toggle:hover {
  background-color: #6a5acd;
}

.dropdown-toggle.btn-nav {
    border: 2px solid var(--bs-emphasis-color);
    background: #FFC436;
}
      
  .alert {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
padding: .75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem;
}
      
.bs-icon {
--bs-icon-size: .75rem;
display: flex;
flex-shrink: 0;
justify-content: center;
align-items: center;
font-size: var(--bs-icon-size);
width: calc(var(--bs-icon-size) * 2);
height: calc(var(--bs-icon-size) * 2);
color: var(--bs-primary);
}
      
.bs-icon-xs {
--bs-icon-size: 1rem;
width: calc(var(--bs-icon-size) * 1.5);
height: calc(var(--bs-icon-size) * 1.5);
}
      
.bs-icon-sm {
--bs-icon-size: 1rem;
}
      
.bs-icon-md {
--bs-icon-size: 1.5rem;
}
      
.bs-icon-lg {
--bs-icon-size: 2rem;
}
      
.bs-icon-xl {
--bs-icon-size: 2.5rem;
}
      
.bs-icon.bs-icon-primary {
color: var(--bs-white);
background: #ffd700;
}
      
.bs-icon.bs-icon-primary-light {
color: var(--bs-primary);
background: rgba(var(--bs-primary-rgb), .2);
}
      
.bs-icon.bs-icon-semi-white {
color: var(--bs-primary);
background: rgba(255, 255, 255, .5);
}
      
.bs-icon.bs-icon-rounded {
border-radius: .5rem;
}
      
.bs-icon.bs-icon-circle {
border-radius: 50%;
}
      
h2 {
margin-bottom: -30px;
}

.form-control {
border-color: #6a5acd;
}
      
.form-check-label {
margin-bottom: 5px;
}

#price {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.dropdown {
    margin-top: 8.5px;
    margin-bottom: 10px;
}

.dropdown-toggle {
background-color: white;
color: black;
border-color: #6a5acd;
}

.dropdown-item:hover{
    background-color: #6a5acd;
    font-weight: bold;
    color: white;
}

.dropdown-toggle:hover {
background-color: #6a5acd;
}
	     
.btn-one {
background-color:white;
color: black;
border-color: #6a5acd;
}

.btn-one:hover{
    background-color: red;
}

.btn-two {
background-color: white;
color: black;
border-color: #6a5acd;
}

.btn-two:hover{
    background-color: green;
}
      
p {
margin-bottom: -7px;
}

.text-muted {
font-style: italic;
}
      
.footer {
margin-top: 65px;
}
      
input {
margin-top: 15px;
margin-bottom: 15px;
}

.card {
border-color: #6a5acd;
}
