<table class="table table-striped custab">
    <tbody>
        {% for item in items %}
        <tr class="recent-items">
            <td>
                <h2 class="item-name">{{ item.ItemName }}</h2>
                {% if item.file_name %}
                <img class="productIMG" src="{{ url_for('static', filename='Product_Images/' + item.file_name) }}"
                    alt="Image for {{ item.ItemName }}">
                {% else %}
                <img class="productIMG" alt="No image available">
                {% endif %}
            </td>
            <td>
                <p class="post-date">Posted on: {{ item.PostDate.strftime('%Y-%m-%d') }}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
