<table class="table table-striped custab">
  <tbody>
    {% for row in item %}
    <tr class="item-container">
      <td>
        <h2 class="item-name">{{row.ItemName}}</h2>
        {% if row.file_name %}
        <img class="productIMG" src="{{ url_for('static', filename='Product_Images/' + row.file_name) }}" alt="Image for {{ row.ItemName }}">
        {% else %}
        <img class="productIMG" alt="No image available">
        {% endif %}
        <p>Description: {{row.ItemDescription}}</p>
        <p class="Price">Price: {{row.Price}}</p>
        <p>
          {% if row.RentalPrice %}
          Rental Price: {{row.RentalPrice}}
          {% else %}
          Rental Price: Not Available
          {% endif %}
        </p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
